body{
color: #6c3483;
 
   
 background-color: gainsboro;
}


p{
     color: blueviolet;
}

h3{
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
















